 body{
          box-sizing: border-box;
          width: 80%;
          margin: auto;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin-bottom: 20px;
     
  
     }
      .flex-container{
          display: flex;
          justify-content: space-between;
                 
      }
   
     .leftbtn ,.rightbtn{
          background-color: #059862;
          color: #fff;
          height: 40px;
          width: auto;
          border: 2px solid #059862;
          border-radius: 8px;
          font-size: 18px;
          cursor: pointer;
     }
      .leftbtn:hover{
          background-color: #066140;
          color: #fff;
          font-weight: 700;
          border: none;
     }
      .rightbtn:hover{
          background-color: #066140;
          color: #fff;
          font-weight: 700;
          border: none;
     }
     #pera1{
          font-size: 18px;
          margin: 40px 0px 40px;
           }
     .colors{
          display: flex;
          flex-wrap: wrap;

     }
     .colors > div {
          cursor: pointer;
          color: #fff;
          width: 267px;
          margin: 10px;
         text-align: center;
         line-height: 75px;
         font-size: 20px;
     }
     .tomato{
          background-color: tomato;
     }
     .orange{
          background-color: orange;
     }
     .dogerblue{
          background-color: dodgerblue;
     }
     .mediumseagreen{
          background-color: mediumseagreen;
     }
     .gray{
          background-color: gray;
     }
     .slateblue{
          background-color: slateblue;
     }
     .voilet{
          background-color: violet;
     }
     .lightgray{
          background-color: lightgray;
     }
     .tryityourself{
          background-color: #059862;
          color: #fff;
          border: none;
          border-radius: 5px ;
          width: 150px;
          height: 35px;
          font-size: 18px;
          cursor: pointer;
          margin-left: 15px;
          margin-top: 30px;

     }
     .tryityourself:hover{
         background-color: #066140;
          color: #fff;
          font-weight: 700;
          border: none;

     }
    #footer{
     display: flex;
     flex-wrap:nowrap;
     justify-content: space-between;
     margin-top: 50px;
     height: 30px;
     border: none;
     }
     input[type="button"]{
          background-color: #282A35;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
          width: 140px;
     }
     input[type="button"]:hover{
          background-color: #059862;
          color: #fff;
          border: none;
          border-radius: 5px;
     }
   
     .footerlist > div{
          display: flex;
          justify-content: space-between;
     }
    
     li{
     list-style-type: none;
     line-height: 35px;
     
     }

     a{
          color: #000;
          text-decoration:none;
          color: inherit;
     }
     a:hover{
          color: #059862;
     }
    